body {
  padding: 0;
  margin: 0;
}
html {
  font-size: 16px;
}
%profile-heading {
  font-size: 1.75rem;
  border-top: 2px solid #bdbdc0;
  border-bottom: 2px solid #bdbdc0;
  padding: 1.25rem 0;
  margin-left: 1.875rem;
  color: #303238;
  letter-spacing: 0.5rem;
}
%dots-style {
  position: absolute;
  width: 0.75rem;
  left: -0.3125rem;
}



.wrapper {
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  .portfolio-main-grid {
    display: grid;
    grid-template-columns: 40% auto;
    width: 87.5rem;
    margin: 0 auto;
    .portfolio-main-left {
      background-color: #f2e1da;
      padding: 3.125rem 0 3.125rem 0;
      .portfolio-leftbar {
        width: 80%;
        margin: 0 auto;
        background-color: #fff;
        .profile-image {
          text-align: center;
          padding-top: 3.125rem;
          img {
            max-width: 70%;
          }
        }
        .profile-name {
          padding: 0 2.5rem 1.875rem 1.875rem;
          text-align: center;
          
          h3 {
            text-transform: uppercase;
            font-size: 3.125rem;
            margin-bottom: 0;
            font-weight: 700;
            color: #303238;
            letter-spacing: 2px;
          }
          small {
            font-size: 1.5625rem;
            font-style: italic;
            font-weight: 500;
            color: #303238;
            letter-spacing: 2px;
          }
        }
        .profile-contact {
          h3 {
            @extend %profile-heading;
          }
        }
        .profile-contact-list {
          display: grid;
          grid-template-columns: 30% auto;
          margin-left: 1.875rem;
          .profile-contact-list-tittle {
            margin: 15px 0 0.625rem 0;
            h4 {
              font-size: 1.125rem;
              margin: 0;
              color: #58595b;
            }
          }
          .profile-contact-list-details {
            margin: 0.9375rem 0 0.625rem 0;
            p {
              font-size: 1.125rem;
              margin: 0;
              color: #58595b;
              font-style: italic;
            }
          }
        }
        .profile-skills {
          margin-top: 7.5rem;
          h3 {
            @extend %profile-heading;
          }
          ul {
            margin: 0;
            padding-left: 3.125rem;
          }
          li {
            padding-bottom: 2.5rem;
            color: #58595b;
            padding-left: 0.625rem;
            font-size: 1.125rem;
            font-weight: 500;
            font-style: italic;
          }
        }
        .profile-language {
          margin-top: 2.5rem;
          padding-bottom: 2.5rem;
          h3 {
            @extend %profile-heading; 
          }
          ul {
            margin: 0;
            padding-left: 3.125rem;
          }
          li {
            padding-bottom: 1.875rem;
            color: #58595b;
            padding-left: 10px;
            font-size: 1.125rem;
            font-weight: 500;
            span {
              padding-left: 10%;
              font-style: italic;
            }
          }

        }
      }
    }
    .portfolio-main-right {
      background-color: #d2d3d4;
      padding: 3.125rem 0 3.125rem 0;
      .bg-white-color {
        background-color: #fff;
        padding: 15px 0px;
        height: 1809px;
        margin-right: 50px;
      }
      .portfolio-personalia {
        margin-right: 3.125rem;
        padding-left: 2.5rem;
        h3 {
          @extend %profile-heading;
        }
        p {
          padding-left: 1.875rem;
          padding-right: 1.875rem;
          color: #58595b;
          font-style: italic;
          font-size: 1.125rem;
          line-height: 35px;
        }
      }
      .portfolio-education {
        margin-right: 3.125rem;
        padding-left: 70px;
        padding-bottom: 2.5rem;
        h3 {
          @extend %profile-heading;
          margin: 0;
        }
        .portfolio-education-grid {
          display: grid;
          grid-template-columns: 10% auto;
          position: relative;
          .portfolio-education-img {
            margin: 3.125rem 0;
            border-left: 2px solid #bdbdc0;
          }
          .portfolio-education-list {
            padding-top: 3.125rem;
            .portfolio-education-details {
              margin-bottom: 60px;
              .border-dots {
                @extend %dots-style;
                top: 25%;
              }
              .border-dots-bottom {
                @extend %dots-style;
                top: 68%;
              }
              span {
                font-size: 20px;
                color: #58595b;
              }
              h2 {
                margin: 0;
                font-size: 20px;
                color: #58595b;
                padding: 10px 0;
              }
              p {
                margin: 0;
                color: #58595b;
                font-style: italic;
              }
            }
          }
        }
      }
      .portfolio-work-experience {
        margin-right: 3.125rem;
        padding-left: 70px;
        h3 {
          @extend %profile-heading;
          margin: 0;
        }
        .work-experience-grid {
          display: grid;
          grid-template-columns: 8% auto;
          position: relative;
          .work-experience-img {
            margin: 3.125rem 0;
            border-left: 2px solid #bdbdc0;
          }
          .work-experience-details {
            padding-top: 3.125rem;
            .work-experience-position-tittle {
              display: grid;
              grid-template-columns: 60% auto;
              .position-tittle-main {
                h2 {
                  margin: 0;
                  color: #58595b;
                  padding-bottom: 7px;
                }
                .work-dots-1 {
                  @extend %dots-style;
                  top: 12%;
                }
                .work-dots-2 {
                  @extend %dots-style;
                  top: 41%;
                }
                .work-dots-3 {
                  @extend %dots-style;
                  top: 71%;
                }
                small {
                  font-style: italic;
                  color: #58595b;
                  font-size: 20px;

                }
              }
              .location-main {
                span {
                  font-size: 1rem;
                  font-style: italic;
                  color: #58595b;
                  img {
                    width: 0.75rem;
                  }
                }
              }
            }
            .work-experience-paragraph {
              p {
                padding-right: 1.875rem;
                color: #58595b;
                font-style: italic;
                font-size: 1.125rem;
                line-height: 1.75rem;
                padding-bottom: 1.875rem;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1367px) and (max-width: 1400px) {
  .wrapper {
    .portfolio-main-grid {
      width: 95%;
      .portfolio-main-left {
        padding: 3.125rem 0 3.125rem 0;
        .portfolio-leftbar {
          width: 90%;
          height: 1850px;
          .profile-name {
            h3 {
              font-size: 2.25rem;
              margin-bottom: 10px;
            }
          }
          .profile-contact-list {
            padding: 2.5rem 0;
          }
          .profile-skills {
            margin-top: 2.5rem;
          }
        }
      }
      .portfolio-main-right {
        padding: 3.125rem 0 3.125rem 0;
        .bg-white-color {
          height: 1820px;
        }
        
        .portfolio-personalia {
          margin-right: 20px;
          margin-left: 20px;
          padding-left: 0px;
          p {
            font-size: 17px;
            line-height: 1.875rem;
          }
        }
        .portfolio-education {
          margin-right: 20px;
          margin-left: 20px;
          padding-left: 1.875rem;
          .portfolio-education-grid {
            .portfolio-education-list {
              .portfolio-education-details {
                margin-bottom: 45px;
              }
            }
            .portfolio-education-img {
              height: 210px;
            }
          }
        }
        .portfolio-work-experience {
          margin-right: 20px;
          margin-left: 20px;
          padding-left: 1.875rem;
          .work-experience-grid {
            .work-experience-details {
              .work-experience-position-tittle {
                grid-template-columns: 60% auto;
                .location-main {
                  margin-top: 15px;
                }
              }
              .work-experience-paragraph {
                p {
                  font-size: 17px;
                  line-height: 27px;
                }
              }
            }
          }
        }
      }
    }
  }
}

//  Breakpoint 1024px to 1366
@media (min-width: 1024px) and (max-width: 1366px) {
  .wrapper {
    .portfolio-main-grid {
      width: 95%;
      .portfolio-main-left {
        padding: 3.125rem 0 50px 0;
        .portfolio-leftbar {
          width: 90%;
          height: 2220px;
          margin: 0 auto;
          .profile-name {
            h3 {
              font-size: 2.25rem;
              margin-bottom: 0.625rem;
            }
          }
          .profile-contact-list {
            padding: 2.5rem 0;
          }
          .profile-skills {
            margin-top: 2.5rem;
          }
        }
      }
      .portfolio-main-right {
        padding: 3.125rem 0 3.1875rem 0;
        .bg-white-color {
          height: 2189px;
        }
        .portfolio-personalia {
          margin-right: 20px;
          margin-left: 20px;
          padding-left: 0px;
          p {
            font-size: 17px;
            line-height: 1.875rem;
          }
        }
        .portfolio-education {
          margin-right: 20px;
          margin-left: 20px;
          padding-left: 1.875rem;
          .portfolio-education-grid {
            .portfolio-education-list {
              .portfolio-education-details {
                margin-bottom: 45px;
              }
            }
            .portfolio-education-img {
              height: 20.625rem;
            }
          }
        }
        .portfolio-work-experience {
          margin-right: 20px;
          margin-left: 20px;
          padding-left: 1.875rem;
          .work-experience-grid {
            .work-experience-details {
              .work-experience-position-tittle {
                grid-template-columns: 100%;
                .location-main {
                  margin-top: 15px;
                }
              }
              .work-experience-paragraph {
                p {
                  font-size: 17px;
                  line-height: 27px;
                }
              }
            }
          }
        }
      }
    }
  }
}

// iPad Breakpoint 768px to 1023px
@media (min-width: 959px) and (max-width: 1023px) {
  .wrapper {
    .portfolio-main-grid {
      width: 100%;
      .portfolio-main-left {
        .portfolio-leftbar {
          width: 90%;
          height: 2405px;
          .profile-name {
            h3 {
              font-size: 2.25rem;
              margin-bottom: 0.625rem;
            }
          }
          .profile-contact-list {
            .profile-contact-list-tittle {
              h4 {
                font-size: 16px;
              }
            }
            .profile-contact-list-details  {
              p {
                font-size: 16px;
              }
            }
          }
          .profile-skills {
            margin-top: 2.5rem;
          }
        }
      }
      .portfolio-main-right {
        .bg-white-color {
          height: 2375px;
        }
        .portfolio-personalia {
          margin-right: 20px;
          margin-left: 20px;
          padding-left: 0px;
        }
        .portfolio-education {
          margin-right: 20px;
          margin-left: 20px;
          padding-left: 1.875rem;
        }
        .portfolio-work-experience {
          margin-right: 20px;
          margin-left: 20px;
          padding-left: 1.875rem;
          .work-experience-grid {
            .work-experience-details {
              .work-experience-position-tittle {
                grid-template-columns: 100%;
                .location-main {
                  margin-top: 15px;
                }
              }
            }
          }
        }
      }
    }
  }
}


// Mobile Breakpoint 767
@media (max-width: 959px) {
  .wrapper {
    .portfolio-main-grid {
      width: 100%;
      grid-template-columns: 100%;
      .portfolio-main-left {
        .portfolio-leftbar {
          width: 90%;
          .profile-name {
            h3 {
              font-size: 2.25rem;
              margin-bottom: 10px;
            }
          }
          .profile-contact-list {
            .profile-contact-list-tittle {
              h4 {
                font-size: 16px;
              }
            }
            .profile-contact-list-details  {
              p {
                font-size: 16px;
              }
            }
          }
          .profile-skills {
            margin-top: 2.5rem;
          }
        }
      }
      .portfolio-main-right {
        .bg-white-color {
          margin: 0 auto;
          width: 90%;
          height: auto;
        }
        .portfolio-personalia {
          margin-right: 20px;
          margin-left: 20px;
          padding-left: 0px;
        }
        .portfolio-education {
          margin-right: 20px;
          margin-left: 20px;
          padding-left: 1.875rem;
        }
        .portfolio-work-experience {
          margin-right: 20px;
          margin-left: 20px;
          padding-left: 1.875rem;
          .work-experience-grid {
            .work-experience-details {
              .work-experience-position-tittle {
                grid-template-columns: 100%;
                .location-main {
                  margin-top: 15px;
                }
              }
            }
          }
        }
      }
    }
  }
}