body {
  padding: 0;
  margin: 0; }

html {
  font-size: 16px; }

.wrapper .portfolio-main-grid .portfolio-main-left .portfolio-leftbar .profile-contact h3, .wrapper .portfolio-main-grid .portfolio-main-left .portfolio-leftbar .profile-skills h3, .wrapper .portfolio-main-grid .portfolio-main-left .portfolio-leftbar .profile-language h3, .wrapper .portfolio-main-grid .portfolio-main-right .portfolio-personalia h3, .wrapper .portfolio-main-grid .portfolio-main-right .portfolio-education h3, .wrapper .portfolio-main-grid .portfolio-main-right .portfolio-work-experience h3 {
  font-size: 1.75rem;
  border-top: 2px solid #bdbdc0;
  border-bottom: 2px solid #bdbdc0;
  padding: 1.25rem 0;
  margin-left: 1.875rem;
  color: #303238;
  letter-spacing: 0.5rem; }

.wrapper .portfolio-main-grid .portfolio-main-right .portfolio-education .portfolio-education-grid .portfolio-education-list .portfolio-education-details .border-dots, .wrapper .portfolio-main-grid .portfolio-main-right .portfolio-education .portfolio-education-grid .portfolio-education-list .portfolio-education-details .border-dots-bottom, .wrapper .portfolio-main-grid .portfolio-main-right .portfolio-work-experience .work-experience-grid .work-experience-details .work-experience-position-tittle .position-tittle-main .work-dots-1, .wrapper .portfolio-main-grid .portfolio-main-right .portfolio-work-experience .work-experience-grid .work-experience-details .work-experience-position-tittle .position-tittle-main .work-dots-2, .wrapper .portfolio-main-grid .portfolio-main-right .portfolio-work-experience .work-experience-grid .work-experience-details .work-experience-position-tittle .position-tittle-main .work-dots-3 {
  position: absolute;
  width: 0.75rem;
  left: -0.3125rem; }

.wrapper {
  padding: 0;
  font-family: Arial, Helvetica, sans-serif; }
  .wrapper .portfolio-main-grid {
    display: grid;
    grid-template-columns: 40% auto;
    width: 87.5rem;
    margin: 0 auto; }
    .wrapper .portfolio-main-grid .portfolio-main-left {
      background-color: #f2e1da;
      padding: 3.125rem 0 3.125rem 0; }
      .wrapper .portfolio-main-grid .portfolio-main-left .portfolio-leftbar {
        width: 80%;
        margin: 0 auto;
        background-color: #fff; }
        .wrapper .portfolio-main-grid .portfolio-main-left .portfolio-leftbar .profile-image {
          text-align: center;
          padding-top: 3.125rem; }
          .wrapper .portfolio-main-grid .portfolio-main-left .portfolio-leftbar .profile-image img {
            max-width: 70%; }
        .wrapper .portfolio-main-grid .portfolio-main-left .portfolio-leftbar .profile-name {
          padding: 0 2.5rem 1.875rem 1.875rem;
          text-align: center; }
          .wrapper .portfolio-main-grid .portfolio-main-left .portfolio-leftbar .profile-name h3 {
            text-transform: uppercase;
            font-size: 3.125rem;
            margin-bottom: 0;
            font-weight: 700;
            color: #303238;
            letter-spacing: 2px; }
          .wrapper .portfolio-main-grid .portfolio-main-left .portfolio-leftbar .profile-name small {
            font-size: 1.5625rem;
            font-style: italic;
            font-weight: 500;
            color: #303238;
            letter-spacing: 2px; }
        .wrapper .portfolio-main-grid .portfolio-main-left .portfolio-leftbar .profile-contact-list {
          display: grid;
          grid-template-columns: 30% auto;
          margin-left: 1.875rem; }
          .wrapper .portfolio-main-grid .portfolio-main-left .portfolio-leftbar .profile-contact-list .profile-contact-list-tittle {
            margin: 15px 0 0.625rem 0; }
            .wrapper .portfolio-main-grid .portfolio-main-left .portfolio-leftbar .profile-contact-list .profile-contact-list-tittle h4 {
              font-size: 1.125rem;
              margin: 0;
              color: #58595b; }
          .wrapper .portfolio-main-grid .portfolio-main-left .portfolio-leftbar .profile-contact-list .profile-contact-list-details {
            margin: 0.9375rem 0 0.625rem 0; }
            .wrapper .portfolio-main-grid .portfolio-main-left .portfolio-leftbar .profile-contact-list .profile-contact-list-details p {
              font-size: 1.125rem;
              margin: 0;
              color: #58595b;
              font-style: italic; }
        .wrapper .portfolio-main-grid .portfolio-main-left .portfolio-leftbar .profile-skills {
          margin-top: 7.5rem; }
          .wrapper .portfolio-main-grid .portfolio-main-left .portfolio-leftbar .profile-skills ul {
            margin: 0;
            padding-left: 3.125rem; }
          .wrapper .portfolio-main-grid .portfolio-main-left .portfolio-leftbar .profile-skills li {
            padding-bottom: 2.5rem;
            color: #58595b;
            padding-left: 0.625rem;
            font-size: 1.125rem;
            font-weight: 500;
            font-style: italic; }
        .wrapper .portfolio-main-grid .portfolio-main-left .portfolio-leftbar .profile-language {
          margin-top: 2.5rem;
          padding-bottom: 2.5rem; }
          .wrapper .portfolio-main-grid .portfolio-main-left .portfolio-leftbar .profile-language ul {
            margin: 0;
            padding-left: 3.125rem; }
          .wrapper .portfolio-main-grid .portfolio-main-left .portfolio-leftbar .profile-language li {
            padding-bottom: 1.875rem;
            color: #58595b;
            padding-left: 10px;
            font-size: 1.125rem;
            font-weight: 500; }
            .wrapper .portfolio-main-grid .portfolio-main-left .portfolio-leftbar .profile-language li span {
              padding-left: 10%;
              font-style: italic; }
    .wrapper .portfolio-main-grid .portfolio-main-right {
      background-color: #d2d3d4;
      padding: 3.125rem 0 3.125rem 0; }
      .wrapper .portfolio-main-grid .portfolio-main-right .bg-white-color {
        background-color: #fff;
        padding: 15px 0px;
        height: 1809px;
        margin-right: 50px; }
      .wrapper .portfolio-main-grid .portfolio-main-right .portfolio-personalia {
        margin-right: 3.125rem;
        padding-left: 2.5rem; }
        .wrapper .portfolio-main-grid .portfolio-main-right .portfolio-personalia p {
          padding-left: 1.875rem;
          padding-right: 1.875rem;
          color: #58595b;
          font-style: italic;
          font-size: 1.125rem;
          line-height: 35px; }
      .wrapper .portfolio-main-grid .portfolio-main-right .portfolio-education {
        margin-right: 3.125rem;
        padding-left: 70px;
        padding-bottom: 2.5rem; }
        .wrapper .portfolio-main-grid .portfolio-main-right .portfolio-education h3 {
          margin: 0; }
        .wrapper .portfolio-main-grid .portfolio-main-right .portfolio-education .portfolio-education-grid {
          display: grid;
          grid-template-columns: 10% auto;
          position: relative; }
          .wrapper .portfolio-main-grid .portfolio-main-right .portfolio-education .portfolio-education-grid .portfolio-education-img {
            margin: 3.125rem 0;
            border-left: 2px solid #bdbdc0; }
          .wrapper .portfolio-main-grid .portfolio-main-right .portfolio-education .portfolio-education-grid .portfolio-education-list {
            padding-top: 3.125rem; }
            .wrapper .portfolio-main-grid .portfolio-main-right .portfolio-education .portfolio-education-grid .portfolio-education-list .portfolio-education-details {
              margin-bottom: 60px; }
              .wrapper .portfolio-main-grid .portfolio-main-right .portfolio-education .portfolio-education-grid .portfolio-education-list .portfolio-education-details .border-dots {
                top: 25%; }
              .wrapper .portfolio-main-grid .portfolio-main-right .portfolio-education .portfolio-education-grid .portfolio-education-list .portfolio-education-details .border-dots-bottom {
                top: 68%; }
              .wrapper .portfolio-main-grid .portfolio-main-right .portfolio-education .portfolio-education-grid .portfolio-education-list .portfolio-education-details span {
                font-size: 20px;
                color: #58595b; }
              .wrapper .portfolio-main-grid .portfolio-main-right .portfolio-education .portfolio-education-grid .portfolio-education-list .portfolio-education-details h2 {
                margin: 0;
                font-size: 20px;
                color: #58595b;
                padding: 10px 0; }
              .wrapper .portfolio-main-grid .portfolio-main-right .portfolio-education .portfolio-education-grid .portfolio-education-list .portfolio-education-details p {
                margin: 0;
                color: #58595b;
                font-style: italic; }
      .wrapper .portfolio-main-grid .portfolio-main-right .portfolio-work-experience {
        margin-right: 3.125rem;
        padding-left: 70px; }
        .wrapper .portfolio-main-grid .portfolio-main-right .portfolio-work-experience h3 {
          margin: 0; }
        .wrapper .portfolio-main-grid .portfolio-main-right .portfolio-work-experience .work-experience-grid {
          display: grid;
          grid-template-columns: 8% auto;
          position: relative; }
          .wrapper .portfolio-main-grid .portfolio-main-right .portfolio-work-experience .work-experience-grid .work-experience-img {
            margin: 3.125rem 0;
            border-left: 2px solid #bdbdc0; }
          .wrapper .portfolio-main-grid .portfolio-main-right .portfolio-work-experience .work-experience-grid .work-experience-details {
            padding-top: 3.125rem; }
            .wrapper .portfolio-main-grid .portfolio-main-right .portfolio-work-experience .work-experience-grid .work-experience-details .work-experience-position-tittle {
              display: grid;
              grid-template-columns: 60% auto; }
              .wrapper .portfolio-main-grid .portfolio-main-right .portfolio-work-experience .work-experience-grid .work-experience-details .work-experience-position-tittle .position-tittle-main h2 {
                margin: 0;
                color: #58595b;
                padding-bottom: 7px; }
              .wrapper .portfolio-main-grid .portfolio-main-right .portfolio-work-experience .work-experience-grid .work-experience-details .work-experience-position-tittle .position-tittle-main .work-dots-1 {
                top: 12%; }
              .wrapper .portfolio-main-grid .portfolio-main-right .portfolio-work-experience .work-experience-grid .work-experience-details .work-experience-position-tittle .position-tittle-main .work-dots-2 {
                top: 41%; }
              .wrapper .portfolio-main-grid .portfolio-main-right .portfolio-work-experience .work-experience-grid .work-experience-details .work-experience-position-tittle .position-tittle-main .work-dots-3 {
                top: 71%; }
              .wrapper .portfolio-main-grid .portfolio-main-right .portfolio-work-experience .work-experience-grid .work-experience-details .work-experience-position-tittle .position-tittle-main small {
                font-style: italic;
                color: #58595b;
                font-size: 20px; }
              .wrapper .portfolio-main-grid .portfolio-main-right .portfolio-work-experience .work-experience-grid .work-experience-details .work-experience-position-tittle .location-main span {
                font-size: 1rem;
                font-style: italic;
                color: #58595b; }
                .wrapper .portfolio-main-grid .portfolio-main-right .portfolio-work-experience .work-experience-grid .work-experience-details .work-experience-position-tittle .location-main span img {
                  width: 0.75rem; }
            .wrapper .portfolio-main-grid .portfolio-main-right .portfolio-work-experience .work-experience-grid .work-experience-details .work-experience-paragraph p {
              padding-right: 1.875rem;
              color: #58595b;
              font-style: italic;
              font-size: 1.125rem;
              line-height: 1.75rem;
              padding-bottom: 1.875rem; }

@media (min-width: 1367px) and (max-width: 1400px) {
  .wrapper .portfolio-main-grid {
    width: 95%; }
    .wrapper .portfolio-main-grid .portfolio-main-left {
      padding: 3.125rem 0 3.125rem 0; }
      .wrapper .portfolio-main-grid .portfolio-main-left .portfolio-leftbar {
        width: 90%;
        height: 1850px; }
        .wrapper .portfolio-main-grid .portfolio-main-left .portfolio-leftbar .profile-name h3 {
          font-size: 2.25rem;
          margin-bottom: 10px; }
        .wrapper .portfolio-main-grid .portfolio-main-left .portfolio-leftbar .profile-contact-list {
          padding: 2.5rem 0; }
        .wrapper .portfolio-main-grid .portfolio-main-left .portfolio-leftbar .profile-skills {
          margin-top: 2.5rem; }
    .wrapper .portfolio-main-grid .portfolio-main-right {
      padding: 3.125rem 0 3.125rem 0; }
      .wrapper .portfolio-main-grid .portfolio-main-right .bg-white-color {
        height: 1820px; }
      .wrapper .portfolio-main-grid .portfolio-main-right .portfolio-personalia {
        margin-right: 20px;
        margin-left: 20px;
        padding-left: 0px; }
        .wrapper .portfolio-main-grid .portfolio-main-right .portfolio-personalia p {
          font-size: 17px;
          line-height: 1.875rem; }
      .wrapper .portfolio-main-grid .portfolio-main-right .portfolio-education {
        margin-right: 20px;
        margin-left: 20px;
        padding-left: 1.875rem; }
        .wrapper .portfolio-main-grid .portfolio-main-right .portfolio-education .portfolio-education-grid .portfolio-education-list .portfolio-education-details {
          margin-bottom: 45px; }
        .wrapper .portfolio-main-grid .portfolio-main-right .portfolio-education .portfolio-education-grid .portfolio-education-img {
          height: 210px; }
      .wrapper .portfolio-main-grid .portfolio-main-right .portfolio-work-experience {
        margin-right: 20px;
        margin-left: 20px;
        padding-left: 1.875rem; }
        .wrapper .portfolio-main-grid .portfolio-main-right .portfolio-work-experience .work-experience-grid .work-experience-details .work-experience-position-tittle {
          grid-template-columns: 60% auto; }
          .wrapper .portfolio-main-grid .portfolio-main-right .portfolio-work-experience .work-experience-grid .work-experience-details .work-experience-position-tittle .location-main {
            margin-top: 15px; }
        .wrapper .portfolio-main-grid .portfolio-main-right .portfolio-work-experience .work-experience-grid .work-experience-details .work-experience-paragraph p {
          font-size: 17px;
          line-height: 27px; } }
@media (min-width: 1024px) and (max-width: 1366px) {
  .wrapper .portfolio-main-grid {
    width: 95%; }
    .wrapper .portfolio-main-grid .portfolio-main-left {
      padding: 3.125rem 0 50px 0; }
      .wrapper .portfolio-main-grid .portfolio-main-left .portfolio-leftbar {
        width: 90%;
        height: 2220px;
        margin: 0 auto; }
        .wrapper .portfolio-main-grid .portfolio-main-left .portfolio-leftbar .profile-name h3 {
          font-size: 2.25rem;
          margin-bottom: 0.625rem; }
        .wrapper .portfolio-main-grid .portfolio-main-left .portfolio-leftbar .profile-contact-list {
          padding: 2.5rem 0; }
        .wrapper .portfolio-main-grid .portfolio-main-left .portfolio-leftbar .profile-skills {
          margin-top: 2.5rem; }
    .wrapper .portfolio-main-grid .portfolio-main-right {
      padding: 3.125rem 0 3.1875rem 0; }
      .wrapper .portfolio-main-grid .portfolio-main-right .bg-white-color {
        height: 2189px; }
      .wrapper .portfolio-main-grid .portfolio-main-right .portfolio-personalia {
        margin-right: 20px;
        margin-left: 20px;
        padding-left: 0px; }
        .wrapper .portfolio-main-grid .portfolio-main-right .portfolio-personalia p {
          font-size: 17px;
          line-height: 1.875rem; }
      .wrapper .portfolio-main-grid .portfolio-main-right .portfolio-education {
        margin-right: 20px;
        margin-left: 20px;
        padding-left: 1.875rem; }
        .wrapper .portfolio-main-grid .portfolio-main-right .portfolio-education .portfolio-education-grid .portfolio-education-list .portfolio-education-details {
          margin-bottom: 45px; }
        .wrapper .portfolio-main-grid .portfolio-main-right .portfolio-education .portfolio-education-grid .portfolio-education-img {
          height: 20.625rem; }
      .wrapper .portfolio-main-grid .portfolio-main-right .portfolio-work-experience {
        margin-right: 20px;
        margin-left: 20px;
        padding-left: 1.875rem; }
        .wrapper .portfolio-main-grid .portfolio-main-right .portfolio-work-experience .work-experience-grid .work-experience-details .work-experience-position-tittle {
          grid-template-columns: 100%; }
          .wrapper .portfolio-main-grid .portfolio-main-right .portfolio-work-experience .work-experience-grid .work-experience-details .work-experience-position-tittle .location-main {
            margin-top: 15px; }
        .wrapper .portfolio-main-grid .portfolio-main-right .portfolio-work-experience .work-experience-grid .work-experience-details .work-experience-paragraph p {
          font-size: 17px;
          line-height: 27px; } }
@media (min-width: 959px) and (max-width: 1023px) {
  .wrapper .portfolio-main-grid {
    width: 100%; }
    .wrapper .portfolio-main-grid .portfolio-main-left .portfolio-leftbar {
      width: 90%;
      height: 2405px; }
      .wrapper .portfolio-main-grid .portfolio-main-left .portfolio-leftbar .profile-name h3 {
        font-size: 2.25rem;
        margin-bottom: 0.625rem; }
      .wrapper .portfolio-main-grid .portfolio-main-left .portfolio-leftbar .profile-contact-list .profile-contact-list-tittle h4 {
        font-size: 16px; }
      .wrapper .portfolio-main-grid .portfolio-main-left .portfolio-leftbar .profile-contact-list .profile-contact-list-details p {
        font-size: 16px; }
      .wrapper .portfolio-main-grid .portfolio-main-left .portfolio-leftbar .profile-skills {
        margin-top: 2.5rem; }
    .wrapper .portfolio-main-grid .portfolio-main-right .bg-white-color {
      height: 2375px; }
    .wrapper .portfolio-main-grid .portfolio-main-right .portfolio-personalia {
      margin-right: 20px;
      margin-left: 20px;
      padding-left: 0px; }
    .wrapper .portfolio-main-grid .portfolio-main-right .portfolio-education {
      margin-right: 20px;
      margin-left: 20px;
      padding-left: 1.875rem; }
    .wrapper .portfolio-main-grid .portfolio-main-right .portfolio-work-experience {
      margin-right: 20px;
      margin-left: 20px;
      padding-left: 1.875rem; }
      .wrapper .portfolio-main-grid .portfolio-main-right .portfolio-work-experience .work-experience-grid .work-experience-details .work-experience-position-tittle {
        grid-template-columns: 100%; }
        .wrapper .portfolio-main-grid .portfolio-main-right .portfolio-work-experience .work-experience-grid .work-experience-details .work-experience-position-tittle .location-main {
          margin-top: 15px; } }
@media (max-width: 959px) {
  .wrapper .portfolio-main-grid {
    width: 100%;
    grid-template-columns: 100%; }
    .wrapper .portfolio-main-grid .portfolio-main-left .portfolio-leftbar {
      width: 90%; }
      .wrapper .portfolio-main-grid .portfolio-main-left .portfolio-leftbar .profile-name h3 {
        font-size: 2.25rem;
        margin-bottom: 10px; }
      .wrapper .portfolio-main-grid .portfolio-main-left .portfolio-leftbar .profile-contact-list .profile-contact-list-tittle h4 {
        font-size: 16px; }
      .wrapper .portfolio-main-grid .portfolio-main-left .portfolio-leftbar .profile-contact-list .profile-contact-list-details p {
        font-size: 16px; }
      .wrapper .portfolio-main-grid .portfolio-main-left .portfolio-leftbar .profile-skills {
        margin-top: 2.5rem; }
    .wrapper .portfolio-main-grid .portfolio-main-right .bg-white-color {
      margin: 0 auto;
      width: 90%;
      height: auto; }
    .wrapper .portfolio-main-grid .portfolio-main-right .portfolio-personalia {
      margin-right: 20px;
      margin-left: 20px;
      padding-left: 0px; }
    .wrapper .portfolio-main-grid .portfolio-main-right .portfolio-education {
      margin-right: 20px;
      margin-left: 20px;
      padding-left: 1.875rem; }
    .wrapper .portfolio-main-grid .portfolio-main-right .portfolio-work-experience {
      margin-right: 20px;
      margin-left: 20px;
      padding-left: 1.875rem; }
      .wrapper .portfolio-main-grid .portfolio-main-right .portfolio-work-experience .work-experience-grid .work-experience-details .work-experience-position-tittle {
        grid-template-columns: 100%; }
        .wrapper .portfolio-main-grid .portfolio-main-right .portfolio-work-experience .work-experience-grid .work-experience-details .work-experience-position-tittle .location-main {
          margin-top: 15px; } }

/*# sourceMappingURL=min-style.css.map */
